<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Song</th>
    <th>Difficulty</th>
    <th>Letter Grade</th>
    <th>Percentage</th>
    <th>Score</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @score.user.discord_oauth.username %></td>
      <td><%= @score.song.en_name %></td>
      <td><%= @score.difficulty %></td>
      <td><%= @score.letter_grade %></td>
      <td><%= @score.percentage_score %></td>
      <td><%= @score.main_score %></td>
    </tr>
  </tbody>
</table>

<hr />

<img src="<%= url_for(@score.score_image.variant(loader: { auto_orient: true })) %>" style="width: 800px;" />

<hr />

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
